@mixin tablet {
  @media (min-width: var(--tablet)) {
    @content;
  }
}

@mixin large {
  @media (min-width: var(--large)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: var(--desktop)) {
    @content;
  }
}

.main-navigation {
  background: var(--fog-black-two);
  color: var(--fog-white);
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
