

.hero-container {
    background: var(--dark-blue);
    height: 53vh;
    width: 100%;
    background-image: url("../../../public/homeImages/jessica-hero.jpg");
    background-size: 120% 53vh;
    background-position: 50%;
    background-color: rgb(95, 95, 95);;
    background-blend-mode: overlay;
    position: relative;

    @media (min-width: 850px) {
        height: 60vh;
        background-size: 115% 60vh;
    }

    @media (min-width: 950px) {
        height: 70vh;
        background-size: 110% 70vh;
    }

    @media (min-width: 1050px) {
        height: 80vh;
        background-size: 105% 80vh;
    }
   
    @media (min-width: 1200px) {
        background-position: top center;
    }

    @media (min-width: 1400px) {
        height: 100vh;
        background-size: cover;
    }
}