.card {
    background: var(--fog-white);
    border-radius: 10px;
    width: 65%;
    margin: 0 0 0 auto;
    padding: 5px;
    display: grid;
    place-content: center;
    position: absolute;
    right: 2rem;
    top: 2rem;
  

    p {
        color: var(--fog-black);
    }
}