@mixin tablet {
  @media (min-width: var(--tablet)) {
    @content;
  }
}

@mixin large {
  @media (min-width: var(--large)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: var(--desktop)) {
    @content;
  }
}



.text {
  position: relative;
  right: 2.7rem;
  // top: 4rem;
  // left: 11rem;
  // @include tablet {
  //   left: 15rem;
  // }
  color: var(--fog-white);
  font-family: monospace;
  overflow: hidden; 
  border-right: 0.15em solid var(--yellow); 
  white-space: nowrap; 
  margin: 0 auto; 
  margin-bottom: 2.3rem;
  
  letter-spacing: 0.15em; 
  animation: typing 3s steps(30, end), blink-caret 1s step-end infinite;
}



/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--yellow);
  }
}

