
.footer {
    border-top: solid 5px var(--fog-black);
    background-color: var(--dark-blue);
    width: 100vw;
    height: 45vh;
    
    display: grid;
    place-content: center;
    position: relative;
}

.fb {
    padding-right: 1rem;
}

.p {
    position: absolute;
    bottom: 6rem;
    right: 8rem;
}