.slide-menu {
    background: var(--fog-black-two);
    opacity: 0.97;
    width: 35vw;
    height: 100%;
    position: absolute;
    top: 5rem;
    right: 0;
    animation: slide 1s ease;
    
}

@keyframes slide {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }