

.flag {
    font-family: var(--roboto);
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    text-shadow: rgb(90, 89, 89) 0px 0px 7px;
    font-size: 2rem;
    -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-image: url('../../../../public/sharedImages/usa-us-flag.gif');
}