

.split {
//     background-color: #013A6B;
//   background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
background-color: var(--rustic-dark);
background-image: -webkit-linear-gradient(30deg, var(--rustic-dark) 50%, var(--fog-black-two) 50%);
  height: 200vh;
  width: 100%;



}


