

.info-container {
    height: 90vh;
    width: 100%;
    background-color: var(--fog-black-two);
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    margin: 0 auto 0 1rem;
}

.info-item {
    width: 500px;
    // text-align: center;
}