

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 20rem;
    position: absolute;
    left: 2rem;
    top: 0.5rem;
}

.navigate {
    border-bottom: 1px solid var(--fog-black);
}