

.info-container {
    background-color: transparent;
    height: 100vh;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.contact {
    margin: 0 auto;
}

.title {
    margin: 0 auto;
    color: var(--fog-black);
}

.span {
    padding-left: 1rem;
}