

.logo {
    margin-left: 5vw;
    border: solid var(--fog-white) 1px;
    color: var(--fog-white);
    width: 90px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h2 {
        font-size: 2rem;
    }

    &:hover {
        cursor: pointer;
    }
}

.vibrate{
    &:hover {

        animation:vibrate 1.5s linear both
    }
} 
@keyframes vibrate{0%{transform:translate(0)}20%{transform:translate(-2px,2px)}40%{transform:translate(-2px,-2px)}60%{transform:translate(2px,2px)}80%{transform:translate(2px,-2px)}100%{transform:translate(0)}}





