

.hero-container {
    width: 100%;
    height: 100vh;
    background-image: url('../../../public/aboutImages/blackWoodGun.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    background-color: rgb(102, 102, 102);;
    background-blend-mode: overlay;
}